@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-gray-950: hsl(0, 0, 2%);
  --color-gray-900: hsl(0, 0, 12%);
  --color-gray-800: hsl(0, 0, 18%);
  --color-gray-700: hsl(0, 0, 23%);
  --color-gray-500: hsl(0, 0, 51%);
  --color-gray-300: hsl(0, 0, 84%);
  --color-gray-200: hsl(0, 0, 91%);
  --color-gray-100: hsl(0, 0, 96%);
  --color-white: hsl(0, 0, 100%);
  --color-purple-500: hsl(274, 82, 60%);
  --color-red-500: hsl(0, 100, 66%);
  --background: var(--gray-100);
  --foreground: var(--gray-950);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-lora);
  --font-mono: var(--font-inconsolata);
}
